# SnapRAID configuration file

{% for parity_disk in snapraid_parity_disks %}
{{ loop.index }}-parity {{ parity_disk }}/snapraid.parity
{% endfor %}

content /var/snapraid/snapraid.content
{% for data_disk in snapraid_data_disks %}
content {{ data_disk }}/snapraid.content
{% endfor %}

{% for data_disk in snapraid_data_disks %}
disk {{ data_disk | basename }} {{ data_disk }}
{% endfor %}

{% for exclude in snapraid_excludes %}
exclude {{ exclude }}
{% endfor %}
