#!/usr/bin/env bash

#source "$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)/base.sh"

# Set global variables
SCRIPT_DIR=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)
if [ -f "$SCRIPT_DIR"/.env ]; then
    source "$SCRIPT_DIR"/.env || exit 1
fi

function error_exit()
{
    echo "$(date '+%F %T.%3N') ERROR: ${1:-"Unknown Error"}" | tee -a "{{ log_file }}"

msmtp -t <<EOF
To: {{ email_username }}
From: {{ email_username }}
Subject: $(hostname): Script $0 has encountered an error - ${1:-"Unknown Error"}

Hostname: $(hostname)
Logs:
$(tail -n 10 "{{ log_file }}")
EOF
    exit
}

function log()
{
    echo "$(date '+%F %T.%3N') INFO: ${1}" | tee -a "{{ log_file }}"
}

if [[ $EUID -ne 0 ]]; then
    error_exit "Script $0 must be run as root" 
fi

# Check if another instance of script is running
pidof -o %PPID -x "$0" >/dev/null && error_exit "Script $0 already running"
